
header {
    height: 50px;
    width: 800px;
    display: block;
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px ;
    color: green;
    text-align: center;
    padding: 10px 0;
    vertical-align: center;
}

#game-info {
    height: 50px;
    width: 800px;
    background-color: black;
    display: block;
    margin: 0 0 10px 0;
    font-family: 'Press Start 2P', cursive;
    color: green;
    line-height: 25px;
    text-align: left;
}

#game-timer {
    color: red;
}

#game-window {
    height: 500px;
    width: 800px;
    display: block;
    background-color: black;
}

#target-div {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blue;
}

.container {
    width: 900px
    margin: 0 auto;
}